.cart-list {
    position: relative;
    margin-bottom: 31px;

    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color:  map-get($color , c-acc-line);
        position: absolute;
        bottom: -31px;
        left: 0;
    }
}
.cart-title {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin: 41px 0 20px 0;

    &::before {
        content: url('/src/assets/images/cart/padlock.svg');
        margin-right: 16px;
    }
}

.cart-list__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: map-get($color , c-black-text);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: map-get($color , c-acc-line);
    margin-top: 32px;
    padding: 16px 0 16px;
}

.cart-list__title-desc, .cart-list__item-desc {
    width: 100%;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-list__item-desc {
    padding: 21px 10px 22px 7px;
}

.cart-list__item-text {
    margin-left: 11px;
}

.cart-list__title-qty, .cart-list__title-price, .cart-list__item-qty, .cart-list__item-price {
    height: 100%;
    width: 100%;
    max-width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.cart-list__item-qty {
    border-left: 1px solid map-get($color , c-acc-line);
    border-right: 1px solid map-get($color , c-acc-line);
}

.cart-qty, .cart-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 100%;
    max-width: 56px;
    height: 37px;
    border: 1px solid map-get($color , c-grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-price {
    border: none;
}

.cart-list__item {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid map-get($color , c-acc-line);

    &:last-child {
        border-top: 0;
    }
}

.cart-list__item-desc {
    display: flex;
    align-items: center;
}

.cart-list__info {
    list-style: none;
}

.cart-list__title--total {
    font-size: 16px;
    line-height: 22px;
    position: relative;
    margin-top: 58px;
    padding: 12px 27px 11px 24px;

    &::before {
        content: '';
        width: 100%;
        height: 1px;
        background-color:  map-get($color , c-acc-line);
        position: absolute;
        top: -29px;
        left: 0;
    }
}

.cart-sub-total-price {
    line-height: 22px;
    color: map-get($color , c-black-text);
}

.cart-list__account {
    display: flex;
    align-items: center;
    border: 1px solid map-get($color , c-acc-line);
    padding: 17px 23px 18px 23px;
}

.cart-list__account-price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-list__account-text {
    width: 100%;
    max-width: 157px;
}

.cart-list__input {
    display: flex;
    align-items: center;
}

.cart-list__account--shipping {
    justify-content: space-between;
}

.cart-total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 22px 20px 23px;
    background-color: map-get($color , c-backorder);
}


.cart-total-price__title, .total-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: map-get($color , c-white);
}

.cart-total-price__title {
    width: 100%;
    max-width: 166px;
}

