.category {
    width: 100%;
    max-width: 231px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: map-get($color , c-item-background);
}

.category__img {
    padding: 26px 44px 13px 42px;
}

.category__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    padding: 0 41px 26px 40px;
    text-align: center;
}