$app: (
    container-main: 1440px,
);


$color: (
    c-order-box: #FFCC02,
    c-blue: #0161A5,
    c-white: #FFFFFF,
    c-banner: rgba(0, 77, 131, 0.8),
    c-banner-blue: rgba(0, 77, 131, 0.9),
    c-button-yellow: #FFCC02,
    c-font-gray: #656565,
    c-item-background: #F3F4F5,
    c-black-text: #1B1B1B,
    c-acc: #E5E5E5,
    c-acc-line: rgba(157, 157, 157, 0.3),
    c-green: #2DA774, 
    c-grey: #9D9D9D,
    c-black: #000000,
    c-soldout: #D13F3F,
    c-backorder: rgba(1, 97, 165, 0.5),
    c-red: #FF0000,
    c-required-fild: #D13F3F,
);





