@font-face {
    font-family: 'Noto Sans';
    src: url('/src/assets/fonts/notosans-regular-webfont.woff2') format('woff2'),
         url('/src/assets/fonts/notosans-regular-webfont.woff') format('woff'),
         url('/src/assets/fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

